@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  .container {
    max-width: 760px;
  }
}
@media (min-width: 760px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1360px;
  }
}